
div#content{
    margin: 0 auto;
    padding: 0.5em 0;
    background-color: #f0f0f0;
}
div#menu{    
    margin: 0 0 1.5em 0;
    height: 4em;
    flex: 0 0 auto;
}
div#menu nav{
    background-color: #ff9224;
}
div#search{
    width: 40%;
    height: 4em;
    margin: -1em 0 0 0;
    padding: 0.5em;
    background-color: #ff9224;
}
.navbar{
    z-index: 10;
}