.wrap {
    width: 780px;
    height: 300px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
.wrap .wrap-box {
    width: 3900px;
    position: absolute;
}
.wrap .wrap-box li {
    width: 780px;
    height: 300px;
    float: left;
}
.wrap .wrap-box img {
    display: block;
    width: 100%;
    height: 300px;
}
.wrap .btn-list {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.wrap .btn-list li {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    background: #fff;
    opacity: .3;
    cursor: pointer;
}
.wrap .btn-list li.active {
    opacity: .9;
}
div#wrap{
    background-color: gray;
    margin: 1em auto;
}