<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <div id="watchsize" class="col-sm-6">                
                <h:form style="margin: 0 auto; text-align: center">
                    <div class="form-group">
                        <hr class="plana"></hr>
                        <label class="fortsize" for="ShowWorkList">訂單列表</label>
                        <hr class="plana"></hr>
                        <table class="table">
                            <tr class="row">
                                <td class="col mx-3 text-left"><h:outputText value="訂單篩選："/>
                                    <h:commandButton style="font-size: 8px" value="全部" action="#{salesOrderManager.salesOrderFilter('全部')}" class="btn btn-primary my-3"/>｜
                                    <h:commandButton style="font-size: 8px" value="未完成" action="#{salesOrderManager.salesOrderFilter('未完成')}" class="btn btn-primary my-3"/>｜
                                    <h:commandButton style="font-size: 8px" value="完成" action="#{salesOrderManager.salesOrderFilter('完成')}" class="btn btn-primary my-3"/>
                                </td>
                                <td class="col mx-3 text-right"><h:commandButton style="font-size: 8px" class="btn btn-primary my-3" value="返回首頁" action="/main.xhtml?faces-redirect=true" /></td>
                            </tr>
                        </table>
                        <table class="table table-striped table-hover table-bordered" id="shoplist" style="margin: 1em auto; width: 30%">
                            <ui:repeat value="#{salesOrderManager.salesOrderList}" var="salesorder">                        
                                <tr><td class="center">
                                        <h:commandLink value="#{salesorder.orderNo}" action="#{salesOrderManager.checkDetail(salesorder)}"/>
                            </td></tr>
                            </ui:repeat>
                        </table>
                                               
                    </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>

