<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <p:growl id="growl" life="3000"/>
            <div style="background-color: #f0f0f0; margin: 0 auto" class="col-5 my-5">
                <hr class="plana"></hr>
                <h2 class="text-center">新增店家</h2>
                <hr class="plana"></hr>
                <h:form class="col-md-9" style="margin: 0 auto; text-align: center" id="signinForm">
                    <h:panelGrid columns="4" style="margin: 0 auto">                    
                        <h:outputText value="帳號" class="G"/>
                        <h:inputText id="account" class="G" label="Account" value="#{registerBean.users.userId}"
                                     required="true" requiredMessage="請輸入帳號">
                            <f:validateLength minimum="1" />    
                        </h:inputText>
                        <p:message for="account" display="text" />
                        <p:watermark for="account" value="帳號" /> 

                        <h:outputText value="密碼" class="G"/>
                        <h:inputSecret id="password" class="G" label="Password" value="#{registerBean.users.password}"   
                                     required="true" requiredMessage="請輸入密碼" validatorMessage="密碼長度需為4-16個字母">
                            <f:validateLength minimum="4" maximum="16" />    
                        </h:inputSecret>
                        <p:message for="password" display="text" />
                        <p:watermark for="password" value="密碼" />

                        <h:outputText value="確認密碼" class="G"/>
                        <h:inputSecret id="pwdconfirm" class="G" label="PwdConfirm"
                                       required="true" requiredMessage="確認密碼" onchange="check()">  
                        </h:inputSecret>
                        <p:watermark for="pwdconfirm" value="確認密碼" /><br/>

                        <h:outputText value="店家名稱" class="G"/>
                        <h:inputText id="name" class="G" label="Name" value="#{registerBean.supplier.name}"
                                     required="true" requiredMessage="請輸入店家名稱">
                            <f:validateLength minimum="1" />
                        </h:inputText>
                        <p:message for="name" display="text" />
                        <p:watermark for="name" value="復胖達" />

                        <h:outputText value="店家位置" class="G"/>
                        <h:selectOneMenu value="#{registerBean.supplier.location}">
                            <f:selectItem itemLabel="一餐" itemValue="1" />
                            <f:selectItem itemLabel="二餐" itemValue="2" />
                            <f:selectItem itemLabel="三餐" itemValue="3" />
                        </h:selectOneMenu>
                    </h:panelGrid>
                    <h:commandButton value="取消" class="btn btn-primary mx-5 my-3" action="/main.xhtml?faces-redirect=true" immediate="true"/>
                    <h:commandButton value="送出" class="btn btn-primary mx-5 my-3" action="#{registerBean.supplierSignUp()}"/>
                </h:form>
            </div>
            <script type="text/javascript">
            function check() {
                var password = document.getElementById("signinForm:password").value;
                var pwdconfirm = document.getElementById("signinForm:pwdconfirm").value;                       
            if (password ==="") {
                window.alert("密碼為空");
                document.getElementById("signinForm:password").focus();
                } 
            else if(password !== pwdconfirm) {
                window.alert("輸入的密碼不同");
                document.getElementById("signinForm:pwdconfirm").focus();
                }
            else{
                window.alert("密碼相同");
                document.getElementById("signinForm:password").focus();
            }    
            }
            </script>
        </ui:define>
    </ui:composition>
</html>

