<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>        
        <ui:composition template="/templates/header.xhtml">
            <ui:define name="contentArea">
                <div id="loginsize">
                    <hr class="plana"></hr>
                    <h2 class="text-center">登入</h2>
                    <hr class="plana"></hr>
                    <form class="col-md-12 container" method="POST" action="j_security_check">
                        <div class="col-md-12 form-group container text-center">
                            <label for="inputName"> 帳號 </label>                            
                            <input id="inputName" type="text" name="j_username"/>
                            <br></br>
                            <label for="inputPasswd"> 密碼 </label>
                            <input id="inputPasswd" type="password" name="j_password"/>
                        </div>
                        <div class="col-md-12 form-group container text-center">
                            <input class="btn btn-primary" type="submit" value="登入"/>    
                        </div>  
                    </form>
                </div>
            </ui:define>    
        </ui:composition>
    </h:body>    
</html>

