<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <p:growl id="growl" life="3000"/>
            <div style="background-color: #f0f0f0; margin: 3em auto; padding: 1em 0" class="col-5 no-gutters">
                <hr class="plana"></hr>
                <h2 class="text-center">註冊</h2>
                <hr class="plana"></hr>
                <h:form class="col-md-12 container" id="signinForm">
                    <div class="col-md-12 form-group container text-center">                    
                        <h:outputText value="帳號" class="G col-4"/>
                        <h:inputText id="account" class="G" label="Account" value="#{registerBean.users.userId}"
                                     required="true" requiredMessage="請輸入帳號">
                            <f:validateLength minimum="1" />    
                        </h:inputText>
                        <p:message for="account" display="text" />
                        <p:watermark for="account" value="帳號" /> 

                        <h:outputText value="密碼" class="G col-4"/>
                        <h:inputSecret id="password" class="G" label="Password" value="#{registerBean.users.password}"   
                                     required="true" requiredMessage="請輸入密碼" validatorMessage="密碼長度需為4-16個字母">
                            <f:validateLength minimum="4" maximum="16" />    
                        </h:inputSecret>
                        <p:message for="password" display="text" />
                        <p:watermark for="password" value="密碼" />

                        <h:outputText value="確認密碼" class="G"/>
                        <h:inputSecret id="pwdconfirm" class="G" label="PwdConfirm"
                                       required="true" requiredMessage="確認密碼" onchange="check()">  
                        </h:inputSecret>
                        <p:watermark for="pwdconfirm" value="確認密碼" /><br/>

                        <h:outputText value="姓名" class="G col-3"/>
                        <h:inputText id="name" class="G" label="Name" value="#{registerBean.student.name}"
                                     required="true" requiredMessage="請填寫姓名">
                            <f:validateLength minimum="1" />
                        </h:inputText>
                        <p:message for="name" display="text" />
                        <p:watermark for="name" value="復胖達" />
                        <div style="padding: 0 0 0 7.7em">
                            <h:outputText value="電子郵件" class="G"/>
                            <h:inputText id="email" class="G" label="Email" value="#{registerBean.student.email}"
                                         required="true" requiredMessage="請填寫email"
                                         validatorMessage="email格式錯誤" >
                                    <f:validateRegex pattern="([s])+([0-9].{7})"/>
                            </h:inputText>
                            <h:outputText value="@gm.cyut.edu.tw"/>
                        </div>
                        <p:message for="email" display="text" />
                        <p:watermark for="email" value="s10514777" />
                        <h:outputText value="電話號碼" class="G"/>
                        <h:inputText id="studentid" class="G" label="Student ID" value="#{registerBean.student.phoneNumber}" 
                                     required="true" requiredMessage="請填寫電話號碼"
                                     validatorMessage="電話號碼格式錯誤">
                            <f:validateRegex pattern="09\d{8}"/>
                            <f:ajax execute="studentid" render="studentid" immediate="true"/>
                        </h:inputText>
                        <p:message for="studentid" display="text" />
                        <p:watermark for="studentid" value="0979366844" />
                        <h:commandButton value="取消" class="btn btn-primary my-3 mx-5" action="/main.xhtml?faces-redirect=true" immediate="true"/>
                        <h:commandButton value="送出" class="btn btn-primary my-3 mx-5" action="#{registerBean.signUp()}"/>
                    </div>
                </h:form>
            </div>
            <script type="text/javascript">
            function check() {
                var password = document.getElementById("signinForm:password").value;
                var pwdconfirm = document.getElementById("signinForm:pwdconfirm").value;                       
            if (password ==="") {
                window.alert("密碼為空");
                document.getElementById("signinForm:password").focus();
                } 
            else if(password !== pwdconfirm) {
                window.alert("輸入的密碼不同");
                document.getElementById("signinForm:pwdconfirm").focus();
                }
            else{
                window.alert("密碼相同");
                document.getElementById("signinForm:password").focus();
            }    
            }
            </script>
        </ui:define>
    </ui:composition>
</html>

