<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/header.xhtml">
            <ui:define name="contentArea">
                <div id="loginsize" class="col-md-8 container text-center">
                    <h2>註冊成功</h2>
                    <h:link class="btn btn-primary my-3" outcome="/main">返回首頁</h:link>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

