<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <h:form class="col-md-8" style="margin: 5em auto">
                <hr class="plana"></hr>
                <h2>詳細清單</h2>
                <hr class="plana"></hr>
                <table class="table table-striped table-hover table-bordered" style="text-align: center">
                    <thead class="thead">
                        <tr>
                            <th scope="col">餐點編號</th>
                            <th scope="col">餐點圖片</th>
                            <th scope="col">餐點名稱</th>
                            <th scope="col">餐點價格</th>
                            <th scope="col">餐點數量</th>
                            <th scope="col">小計</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{cartBean.shoppingCart}" var="shoppingCart">
                            <tr>
                                <th scope="row" style="vertical-align:middle"><h:outputText value="#{cartBean.shoppingCart.indexOf(shoppingCart)+1}"/></th>
                                <th><h:graphicImage library="img" name="#{shoppingCart.imgName}" width="100" alt="圖片準備中...^_^" /></th>
                                <th style="vertical-align:middle"><h:outputText value="#{shoppingCart.name}"/></th>
                                <th style="vertical-align:middle"><h:outputText value="#{shoppingCart.price}"/></th>
                                <th style="vertical-align:middle"><h:outputText value="#{shoppingCart.quantity}"/></th>
                                <th style="vertical-align:middle"><h:outputText value="#{cartBean.subTotal(shoppingCart)}"/></th>
                            </tr>
                        </ui:repeat>
                        <tr>
                            <td colspan="5" style="text-align: right">總計</td>
                            <td align="right"><h:outputText value="#{cartBean.sumTotal(cartBean.shoppingCart)}"/></td>
                        </tr>
                    </tbody>
                </table>
                <hr class="plana"></hr>
                <h:commandButton value="填寫購買資訊" style="float: right" class="btn btn-primary mx-3" action="#{cartBean.customerData()}"/>
                <h:commandButton value="取消" style="float: right" class="btn btn-primary mx-3" action="/student/shoppingCart"/>
            </h:form>    
        </ui:define>
    </ui:composition>
</html>

