<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <div id="write" style="width: 40%; padding: 1.5em">
                <hr class="plana"></hr>
                <h1 style="text-align: center; color: black">訂購資訊</h1>
                <hr class="plana"></hr>
                <h:form class="col-md-12" style="margin: 0 auto; text-align: center">
                    <h:panelGrid columns="3" style="margin: 0 auto"> 
                        <h:outputText value="訂購人名字" class="G"/>
                        <h:outputText value="#{orderProcessingBean.salesOrder.customerName}" class="G"/>
<!--                        <h:inputText id="name" class="G" label="Name" value="#{orderProcessingBean.salesOrder.customerName}"
                                      required="true" requiredMessage="請填寫名字">
                        <f:validateLength minimum="1" />    
                        </h:inputText>
                        <p:message for="name" display="text" />
                        <p:watermark for="name" value="Hank" />-->

                        <h:outputText value="電子郵件" class="G"/>
                        <h:outputText value="#{orderProcessingBean.salesOrder.email}" class="G"/>
<!--                        <h:inputText id="email" class="G" label="Email" value="#{orderProcessingBean.salesOrder.email}"
                                      required="true" requiredMessage="請填寫email"
                                      validatorMessage="email格式錯誤">
                        <f:validateRegex pattern="([^.@]+)(.[^.@]+)*@([^.@]+.)+([^.@]+)"/>    
                        </h:inputText>
                        <p:message for="email" display="text" />
                        <p:watermark for="email" value="s10514466@gm.cyut.edu.tw" />-->

                        <h:outputText value="電話號碼" class="G"/>
                        <h:outputText value="#{orderProcessingBean.salesOrder.phoneNumber}" class="G"/>
<!--                        <h:inputText id="studentid" class="G" label="Student ID" value="#{orderProcessingBean.salesOrder.phoneNumber}" 
                                    required="true" requiredMessage="請填寫電話號碼"
                                    validatorMessage="電話號碼格式錯誤">
                            <f:validateRegex pattern="09\d{8}"/> 
                        </h:inputText>
                        <p:message for="studentid" display="text" />
                        <p:watermark for="studentid" value="0909385731" />-->
                                                
                    </h:panelGrid>
                    <h:commandButton value="取消" class="btn btn-primary mx-3 my-2" action="/main" immediate="true" />
                    <h:commandButton value="送出" class="btn btn-primary mx-3 my-2" action="#{orderProcessingBean.produceOrder()}"/>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>

