<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <div class="col-md-8" id="content" style="margin: 3em auto;">
                <h1 style="text-align: center">訂單明細</h1>
                <hr class="plana"></hr>
                <table class="table table-striped table-hover table-bordered table-sm" id="shoplist" style="margin: 0 auto; width: 30%">                    
                    <tr><td>名字</td><td><h:outputText value="#{orderProcessingBean.salesOrder.customerName}"/></td></tr>
                    <tr><td>電子郵件</td><td><h:outputText value="#{orderProcessingBean.salesOrder.email}" /></td></tr>
                    <tr><td>電話號碼</td><td><h:outputText value="#{orderProcessingBean.salesOrder.phoneNumber}"/></td></tr>
                    <tr><td>訂單產生時間</td><td><h:outputText value="#{orderProcessingBean.salesOrder.orderTime}"/></td></tr>
                    <tr><td>總計</td><td><h:outputText value="#{orderProcessingBean.salesOrder.total}"/></td></tr>
                    <tr><td>訂單編號</td><td><h:outputText value="#{orderProcessingBean.salesOrder.orderNo}"/></td></tr>
                </table>
            </div>
            <div class="col-md-8" id="content" style="margin: 1em auto">            
                <table class="table-striped table-hover table-bordered" style="text-align: center; margin: 0 auto; width: 100%;">
                    <thead class="thead" style="line-height: 3em">
                        <tr>
                            <th scope="col">餐點編號</th>
                            <th scope="col">餐點圖片</th>
                            <th scope="col">餐點名稱</th>
                            <th scope="col">餐點價格</th>
                            <th scope="col">餐點數量</th>
                            <th scope="col">商家名稱</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{orderProcessingBean.orderLines}" var="orderLines">
                            <tr>
                                <th scope="row"><h:outputText value="#{orderProcessingBean.orderLines.indexOf(orderLines)+1}"/></th>
                                <td><h:graphicImage library="img" name="#{orderLines.item.imgName}" width="" height="50" alt="圖片準備中...^_^" /></td>
                                <td><h:outputText value="#{orderLines.item.name}"/></td>
                                <td><h:outputText value="#{orderLines.item.price}"/></td>
                                <td><h:outputText value="#{orderLines.item.quantity}"/></td>
                                <td><h:outputText value="#{orderLines.item.supplier.name}"/></td>
                            </tr>
                        </ui:repeat>
                    </tbody>                        
                </table>
                <h:form><h:commandButton class="btn btn-primary my-3" style="float: right" value="返回首頁" action="/main.xhtml?faces-redirect=true" /></h:form>
            </div>
        </ui:define>    
    </ui:composition>
</html>

