<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <p:growl id="growl" life="3000"/>            
            <h:form class="col-md-8 container my-5">
                <label class="fortsize" for="ShowWorkList">隨機餐點</label>
                <hr class="plana"></hr>                
                
                <ul class="col-3 container" style="background-color: #f0f0f0">
                    <li class="col text-center border border-warning"><h:graphicImage library="img" name="#{cartBean.randomItem.imgName}" width="180px" height="120px" alt="圖片準備中...^_^" /><br/>
                        名稱:<h:outputText value="#{cartBean.randomItem.name}"/><br/>
                        價格:<h:outputText value="#{cartBean.randomItem.price}"/><br/>
                        <p:commandButton id="addCart" value="加入購物車" action="#{cartBean.addCart(cartBean.randomItem)}" update="growl"/><br/></li>
                </ul>         
                
                <div class="text-center"><h:commandButton class="btn btn-primary" value="再給我來一個" action="#{cartBean.randomFind()}"/></div>
            </h:form>
        </ui:define>
    </ui:composition>
</html>

