<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <h:form>
            <h1 style="text-align: center">餐點明細</h1>
            <hr class="plana"></hr>
            <table class="table table-striped table-hover table-bordered" id="shoplist" style="margin: 2em auto; width: 30%">
                <tr><td>訂單編號</td><td><h:outputText value="#{studentOrderBean.currentSalesOrder.orderNo}"/></td></tr>
                <tr><td>總計</td><td><h:outputText value="#{studentOrderBean.currentSalesOrder.total}"/></td></tr>
                <tr><td>訂單產生時間</td><td><h:outputText value="#{studentOrderBean.currentSalesOrder.orderTime}"/> </td></tr>    
                <tr><td>購買人名字</td><td><h:outputText value="#{studentOrderBean.currentSalesOrder.customerName}"/></td></tr>
                <tr><td>購買人電話</td><td><h:outputText value="#{studentOrderBean.currentSalesOrder.phoneNumber}"/></td></tr>
                <tr><td>訂單狀態</td><td><h:outputText value="#{studentOrderBean.currentSalesOrder.salesOrderState}" rendered="#{studentOrderBean.currentSalesOrder.salesOrderState == '未完成'}" style="color: red"/>
                    <h:outputText value="#{studentOrderBean.currentSalesOrder.salesOrderState}" rendered="#{studentOrderBean.currentSalesOrder.salesOrderState == '完成'}" style="color: green"/></td></tr>
            </table>
            <hr class="plana"></hr>
            <table class="col-sm-10 table-striped table-hover table-bordered" style="text-align: center; margin: 0 auto; width: 100%;">
                <thead class="thead" style="background-color: #DC143C;color: white">
                    <tr>
                        <th scope="col">餐點編號</th>
                        <th scope="col">餐點圖片</th>
                        <th scope="col">餐點名稱</th>
                        <th scope="col">餐點價格</th>
                        <th scope="col">餐點數量</th>
                        <th scope="col">餐點狀態</th>
                    </tr>
                </thead>
                <tbody>
                    <ui:repeat value="#{studentOrderBean.currentSalesOrder.lines}" var="orderLines">
                        <tr>
                            <th scope="row"><h:outputText value="#{studentOrderBean.currentSalesOrder.lines.indexOf(orderLines)+1}"/></th>
                            <td><h:graphicImage library="img" name="#{orderLines.item.imgName}" width="" height="50" alt="圖片準備中...^_^" /></td>
                            <td><h:outputText value="#{orderLines.item.name}"/></td>
                            <td><h:outputText value="#{orderLines.item.price}"/></td>
                            <td><h:outputText value="#{orderLines.quantity}"/></td>
                            <td>
                                <h:outputText value="#{orderLines.orderState}" rendered="#{orderLines.orderState == '備餐中'}" style="color:orange"/>
                                <h:outputText value="#{orderLines.orderState}" rendered="#{orderLines.orderState == '待取餐'}" style="color: red"/>
                                <h:outputText value="#{orderLines.orderState}" rendered="#{orderLines.orderState == '完成'}" style="color: green"/>
                            </td>
                        </tr>
                    </ui:repeat>
                </tbody>
            </table>
            <h:commandButton class="btn btn-primary" style="margin: 2em 8.7em 5em 8.7em; float: right;" value="返回列表" action="/student/salesOrderList.xhtml?faces-redirect=true"/>
            </h:form>
        </ui:define>
    </ui:composition>
</html>

