<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <h:outputScript library="js" name="formUtilities.js" />
            <p:growl id="growl" life="1000"/>
            <h:form id="shoppingCartForm" onkeypress="submitPage(event);" class="col-md-8" style="margin: 5em auto">
                <hr class="plana"></hr>
                <h2>購物車清單</h2>
                <hr class="plana"></hr>                
                <table class="table table-striped table-hover table-bordered" style="text-align: center">
                    <thead class="thead">
                        <tr>
                            <th scope="col">餐點編號</th>
                            <th scope="col">餐點圖片</th>
                            <th scope="col">餐點名稱</th>
                            <th scope="col">餐點價格</th>
                            <th scope="col">餐點數量</th>
                            <th scope="col">餐點操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat value="#{cartBean.shoppingCart}" var="shoppingCart">
                            <tr>
                                <th scope="row" style="vertical-align:middle"><h:outputText value="#{cartBean.shoppingCart.indexOf(shoppingCart)+1}"/></th>
                                <td><h:graphicImage library="img" name="#{shoppingCart.imgName}" width="100" alt="圖片準備中...^_^" /></td>
                                <td style="vertical-align:middle"><h:outputText value="#{shoppingCart.name}"/></td>
                                <td style="vertical-align:middle"><h:outputText value="#{shoppingCart.price}"/></td>
                                <td style="vertical-align:middle"><f:ajax event="action" execute="sor1" render="qty">
                                <h:commandButton style="width: 2em" id="sor1" value="-" action="#{cartBean.adjustQty(shoppingCart,-1)}"/>
                                <h:inputText value="#{shoppingCart.quantity}" style="text-align: center" size="1" id="qty" label="數量"
                                            validatorMessage="數量需在 1 ~ 99.">
                                    <f:validateDoubleRange minimum="1.0" maximum="99.0"/>
                                </h:inputText>
                                <h:commandButton style="width: 2em" value="+" action="#{cartBean.adjustQty(shoppingCart,1)}" />
                                </f:ajax></td>
                                <td style="vertical-align:middle">
                                    <p:commandButton value="刪除" update="growl" action="#{cartBean.removeCart(shoppingCart)}" onclick="return confirm('確認刪除?')"/>
                                </td>        
                                <p:message for="qty" display="default"/>
                            </tr>
                        </ui:repeat>                  
                    </tbody>
                </table>
                <hr class="plana"></hr>
                <h:commandButton value="建立訂單" style="float: right" class="btn btn-primary mx-3" action="#{cartBean.gotoCheckOutCart()}" />
                <h:commandButton value="返回首頁" style="float: left" class="btn btn-primary mx-3" action="#{cartBean.returnMain()}" />
                <h:commandButton value="清空購物車" style="float: right;" class="btn btn-primary mx-3" action="#{cartBean.shoppingCart.clear()}" />
                <h:commandButton id="updateForm" value="update" action="/student/shoppingCart" style="visibility: hidden"/>
            </h:form>  
        </ui:define>
    </ui:composition>
</html>

