<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <div id="write" style="width: 40%; padding: 1.5em">
                <hr class="plana"></hr>
                <h1 style="text-align: center; color: black">新增餐點</h1>
                <hr class="plana"></hr>
                <p:growl id="growl" life="3000"/>
                <h:form class="col-md-12" style="margin: 0 auto; text-align: center" enctype="multipart/form-data">
                    <h:panelGrid columns="3" style="margin: 0 auto">
                        <h:outputText value="名稱" class="G"/>
                        <h:inputText id="name" class="G" label="Name" value="#{mealManageBean.createItem.name}"
                                                      required="true" requiredMessage="請填寫名稱">
                                        <f:validateLength minimum="1" />    
                        </h:inputText>
                        <p:message for="name" display="text" />
                    
                        <h:outputText value="價格" class="G"/>
                        <h:inputText id="price" class="G" label="Price" value="#{mealManageBean.createItem.price}"
                                                      required="true" requiredMessage="請填寫價格">
                            <ui:remove><f:validateLongRange minimum="1" maximum="9999"/></ui:remove>
                        </h:inputText>
                        <p:message for="price" display="text" />
                    
                        <h:outputText value="圖片" class="G"/>
                        <h:inputFile id="selectFile" class="G" value="#{mealManageBean.uploadPart}"
                                     required="true" requiredMessage="請上傳圖片" style="width: 10em;"/>
                        <p:message for="selectFile" display="text"/>
                        
                        <h:outputText value="店家" class="G" />
                        <h:outputText value="#{mealManageBean.currentSupplier.name}" class="G" />
<!--                        <h:selectOneMenu id="supplier" value="#{mealManageBean.createItem.supplier}"
                                             required="true" converter="supplierConverter">
                            <f:ajax event="valueChange" execute="@this" render="display" />    
                            <f:selectItems value="#{mealManageBean.supplierlist}" var="supplier"
                                           itemLabel="#{supplier.name}" itemValue="#{supplier}"/>
                        </h:selectOneMenu> 
                        <p:message for="supplier" display="text" />-->
                    </h:panelGrid>
                    <br/>
                    <h:commandButton value="取消" class="btn btn-primary mx-5 my-1" action="supplierManage?faces-redirect=true" immediate="true" />
                    <h:commandButton value="送出" class="btn btn-primary mx-5 my-1" action="#{mealManageBean.uploadAction()}"/>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>
