<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <div id="WTF">
                <h:form>
                    <p:growl id="messages"/>
                    <p:menubar>
                    <p:submenu label="菜單管理" >
                        <p:menuitem value="新增餐點" action="#{mealManageBean.goAddMealPageAction}" />
                        <p:menuitem value="刪除餐點" action="delMeal?faces-redirect=true" />
                        <p:separator />
                    </p:submenu>
                    <p:submenu label="類別">
                        <p:menuitem value="麵類" action="#" update="messages" />
                        <p:menuitem value="飯類" action="#" update="messages" />
                        <p:menuitem value="甜點" action="#" update="messages" />
                        <p:separator />
                    </p:submenu>
                        <p:menuitem value="離開" action="/main.xhtml?faces-redirect=true"  />
                        <f:facet name="options">
                            <p:inputText style="margin:1px 10px 1px 1px;" placeholder="Search"/>
                            <p:commandButton type="button" value="會員管理" icon="" action="/main.xhtml?faces-redirect=true">
                            </p:commandButton>    
                        </f:facet>
                    </p:menubar>
                    <br/>
                    <p:growl id="growl" life="3000"/>
                    <div id="okay" class="container">
                        <ul class="row"><ui:repeat value="#{mealManageBean.mealPool.findAll()}" var="item">                        
                                <li class="col-sm-2 text-center border border-warning"><h:graphicImage value="../resources/img/#{item.imgName}" width="160px" height="120px"/><br/>
                                    名稱:<h:outputText value="#{item.name}"/><br/>
                                    價格:<h:outputText value="#{item.price}"/><br/>
                                    <p:commandButton value="刪除餐點" action="#{mealManageBean.delMeal(item)}" >
                                        <p:confirm header="確認" message="確定要刪除此餐點?"/>
                                    </p:commandButton>
                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                                    </p:confirmDialog>
                                </li>
                        </ui:repeat></ul>
                    </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>

