<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">            
            <h:form>
                <p:growl id="messages"/>
                <p:menubar>
                    <p:submenu label="菜單管理" >
                        <p:menuitem value="新增餐點" action="#{mealManageBean.goAddMealPageAction}" />
                        <p:menuitem value="刪除餐點" action="delMeal?faces-redirect=true" />
                        <p:separator />
                    </p:submenu>
                    <f:facet name="options">
                        
                        <p:inputText id="input" style="margin:1px 10px 1px 1px;" placeholder="Search" value="#{mealManageBean.search}" />
                        <p:commandButton value="搜尋" action="#{mealManageBean.itemfilter()}" />
                        <p:commandButton value="離開" action="#{cartBean.returnMain()}"/>
                    </f:facet>
                </p:menubar>
                <br/>
                <ui:fragment rendered="#{authBean.supplier}">
                <div id="okay" class="container">
                    <ul class="row" id="output"><ui:repeat value="#{mealManageBean.displayItems}" var="item" >                        
                            <li class="col-sm-2 text-center border border-warning"><h:graphicImage library="img" name="#{item.imgName}" width="160px" height="120px" alt="圖片準備中...^_^" /><br/>
                                名稱:<h:outputText value="#{item.name}"/><br/>
                                價格:<h:outputText value="#{item.price}"/>
                            </li>                       
                        </ui:repeat>
                    </ul>
                </div>
                </ui:fragment>
                <ui:fragment rendered="#{authBean.admin}">
                <div id="okay" class="container">
                    <ul class="row"><ui:repeat value="#{mealManageBean.displayItems}" var="item">                        
                            <li class="col-sm-2 text-center border border-warning"><h:graphicImage library="img" name="#{item.imgName}" width="160px" height="120px" alt="圖片準備中...^_^" /><br/>
                                名稱:<h:outputText value="#{item.name}"/><br/>
                                價格:<h:outputText value="#{item.price}"/>
                            </li>                       
                        </ui:repeat>
                    </ul>
                </div>
                </ui:fragment>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
