<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <p:growl id="growl" life="3000"/>
                <h:form class="container col-sm-10">
                    <h1 style="text-align: center">餐點明細</h1>
                    <hr class="plana"></hr>
                    <table class="table table-striped table-hover table-bordered" id="shoplist" style="margin: 2em auto; width: 30%">
                        <tr><td>工單編號</td><td><h:outputText value="#{supplierOrderListBean.currentWorkOrder.workOrderNo}"/></td></tr>
                        <tr><td>總計</td><td><h:outputText value="#{supplierOrderListBean.currentWorkOrder.workOrderTotal}"/></td></tr>
                        <tr><td>訂餐時間</td><td><h:outputText value="#{supplierOrderListBean.currentWorkOrder.orderTime}"/> </td></tr>
                        <tr><td>購買人名字</td><td><h:outputText value="#{supplierOrderListBean.currentWorkOrder.customerName}"/></td></tr>
                        <tr><td>購買人電話</td><td><h:outputText value="#{supplierOrderListBean.currentWorkOrder.phoneNumber}"/></td></tr>
                        <tr><td>餐點狀態</td><td><h:outputText value="#{supplierOrderListBean.currentWorkOrder.state}" rendered="#{supplierOrderListBean.currentWorkOrder.state == '備餐中'}" style="color:orange"/>
                                                <h:outputText value="#{supplierOrderListBean.currentWorkOrder.state}" rendered="#{supplierOrderListBean.currentWorkOrder.state == '待取餐'}" style="color:red"/>
                                                <h:outputText value="#{supplierOrderListBean.currentWorkOrder.state}" rendered="#{supplierOrderListBean.currentWorkOrder.state == '完成'}" style="color:green"/></td></tr>
                    </table>
                    <hr class="plana"></hr>
                    <table class="col-sm-10 table-striped table-hover table-bordered" style="text-align: center; margin: 0 auto; width: 100%;">
                        <thead class="thead" style="background-color: #DC143C;color: white">
                            <tr>
                                <th scope="col">餐點編號</th>
                                <th scope="col">餐點圖片</th>
                                <th scope="col">餐點名稱</th>
                                <th scope="col">餐點價格</th>
                                <th scope="col">餐點數量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ui:repeat value="#{supplierOrderListBean.currentWorkOrder.lines}" var="orderLines">
                                <tr>
                                    <th scope="row"><h:outputText value="#{supplierOrderListBean.currentWorkOrder.lines.indexOf(orderLines)+1}"/></th>
                                    <td><h:graphicImage library="img" name="#{orderLines.item.imgName}" width="" height="50" alt="圖片準備中...^_^" /></td>
                                    <td><h:outputText value="#{orderLines.item.name}"/></td>
                                    <td><h:outputText value="#{orderLines.item.price}"/></td>
                                    <td><h:outputText value="#{orderLines.quantity}"/></td>
                                </tr>
                            </ui:repeat>
                        </tbody>
                    </table>
                    <div class="container flex-row-reverse col-sm-10 text-right">
                            <dvi><h:commandButton class="btn btn-primary p-2 mx-2 my-3" value="待取餐" action="#{supplierOrderListBean.setOrderState(supplierOrderListBean.currentWorkOrder,'待取餐')}" actionListener="#{messagesBean.notifyMealReady()}"/></dvi>
                            <dvi><h:commandButton class="btn btn-primary p-2 mx-2 my-3" value="完成" action="#{supplierOrderListBean.setOrderState(supplierOrderListBean.currentWorkOrder,'完成')}" actionListener="#{messagesBean.notifyCloseWorkOrder()}"/></dvi>
                            <dvi><h:commandButton class="btn btn-primary p-2 mx-2 my-3" value="返回列表" action="#{supplierOrderListBean.workOrderFilter('全部')}"/></dvi>
                    </div>
                </h:form>
        </ui:define>
    </ui:composition>
</html>

