<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <p:growl id="growl" life="3000"/>
            <div class="col-md-10" id="content">
                <div class="wrap" id="wrap">
                    <ul id="wrap-box" class="wrap-box">
                        <li><a href="#"><h:graphicImage library="img" name="adimg01.jpg" alt="圖片準備中...^_^" /></a></li>
                        <li><a href="#"><h:graphicImage library="img" name="adimg02.jpg" alt="圖片準備中...^_^" /></a></li>
                        <li><a href="#"><h:graphicImage library="img" name="adimg03.jpg" alt="圖片準備中...^_^" /></a></li>
                        <li><a href="#"><h:graphicImage library="img" name="adimg04.jpg" alt="圖片準備中...^_^" /></a></li>
                        <li><a href="#"><h:graphicImage library="img" name="adimg05.jpg" alt="圖片準備中...^_^" /></a></li>
                    </ul>
                    <ul class="btn-list" id="btn-list">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10" id="dish">
                <h:form>
                    <ul class="row"><ui:repeat value="#{mealManageBean.mealPool.findAll()}" var="menu">
                            <li class="col-md-2 text-center border border-warning"><h:graphicImage library="img" name="#{menu.imgName}" width="180px" height="120px" alt="圖片準備中...^_^" /><br/>
                        名稱:<h:outputText value="#{menu.name}"/><br/>
                        價格:<h:outputText value="#{menu.price}"/><br/>
                        <p:commandButton id="addCart" value="加入購物車" action="#{cartBean.addCart(menu)}" update="growl"/><br/></li>
                    </ui:repeat></ul>
                </h:form>
            </div>
            <h:outputScript library="js" name="rollingad.js"></h:outputScript>
        </ui:define>
    </ui:composition>
</html>

