<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/templates/header.xhtml">
        <ui:define name="contentArea">
            <p:growl id="growl" life="3000"/>
            <div class="my-5">
                
                <h2 class="text-center">#{searchBean.title}</h2>
                <hr class="plana" style="width: 75%;margin: 10px auto"></hr>            
                <div id="okay" class="container">
                    <h:form>
                        <ul class="row"><ui:repeat value="#{searchBean.searchResult}" var="menu">
                            <li class="col-md-2 text-center border border-warning"><h:graphicImage library="img" name="#{menu.imgName}" width="160px" height="120px" alt="圖片準備中...^_^" /><br/>
                            名稱:<h:outputText value="#{menu.name}"/><br/>
                            價格:<h:outputText value="#{menu.price}"/><br/>
                            <p:commandButton id="addCart" value="加入購物車" action="#{cartBean.addCart(menu)}" update="growl"/><br/></li>
                        </ui:repeat></ul>
                    </h:form>
                </div>
            </div>
            <h:outputScript library="js" name="rollingad.js"></h:outputScript>
        </ui:define>
    </ui:composition>
</html>

